body {
	margin: 0;
	border: 0;
	padding: 0;
}

.header {
	font-family: Verdana, Geneva, sans-serif;
	
	position: relative;
	top: 0;
	left: 0;
	background: -webkit-linear-gradient(#000, #505050); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#000, #505050); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000, #505050); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000, #505050); /* Standard syntax */
	height: 30px;
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	line-height: 30px;
}

.header a {
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	margin: 0 10px;
	padding: 0;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.header a:hover {
	color: #FFB0B0;
}

.header_left {
	position: absolute;
	float: left;
	left: 0;
	margin: 0;
	padding: 0;
	border-right: 3px solid #FFF;
	width: 80px;
	text-align: center;
}

.header_left a {
	font-weight:bold;
}

.header_right {
	position: absolute;
	text-align: center;
	margin: 0;
	padding: 0 10px;
	left: 83px;
	width: auto;
	overflow: hidden;
	white-space: nowrap;
}

