<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Get fonts -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>

    <!-- Set styles for desktop and mobile -->
    <link rel="stylesheet" media="screen, projection" href="/assets/css/screen.css" type="text/css">
  	<link rel="stylesheet" href="/assets/css/content_page.css" type="text/css">

    <!-- Social media -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter_username}}">

  </head>

  <body>
	{% if page.url != "/" %}
		{% include navigation.html %}
	{% endif %}
    {{ content }}
  </body>
</html>

